body {
    background-color: #83AFC4;
    margin: 0 auto;
    padding: 0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 6em;
}
h1 {
    font-size: larger;
    font-family: monospace;
}
#contact {
    width: 15vw;
    height: 3em;
}
div {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-size: x-large;
    font-family: monospace;

}
h3 {
    font-family: monospace;
    font-weight: bolder;
    font-size: larger;
}
h4 {
    font-weight: bolder;
    font-size: large;
    font-style: italic;
    font-family: monospace;
    padding: 0;
}
p {
    justify-content: center;
    margin-left: 2em;
    font-weight: lighter;
    font-size: medium;
    font-family: monospace;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gieters {
    width: 25vh;
    margin-right: 10em;
    margin-bottom: 2em;
}
#moestuinbak {
    width: 25vh;
    margin-left: 10em;
    margin-bottom: 2em;
}