body {
    background-color: #d5c3b6;
    font-family: monospace;

}
div {
    display: flex;
    justify-content: center;
}
#logo {
    width: 7em;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: larger;
    font-family: monospace;
}
h2 {
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
    font-style: italic;
}
main {
    display: flex;
    flex-direction: column;
}
#lamp {
    width: 15vw;
    height: 13vh;
}

p {
    margin: 1em;
    line-height: 2em;
    color: black;
    font-weight: 500;
    font-size: medium;

}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}